/* CONTROLS */
.controls-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.filter-form {
    display: flex;
    flex-wrap: wrap; /* allow wrapping when needed */
    gap: 1.5rem;
    align-items: center;
}

.filter-checkbox {
    font-size: 1.2em;
    display: inline-flex;
    align-items: center;
    gap: 0.3rem;
    color: var(--text-color);
    white-space: nowrap; /* prevent weird line breaks inside labels */
}

.copy-form .copy-button {
    background-color: #38b000;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

    .copy-form .copy-button:hover {
        background-color: #2d8600;
    }

.separator {
    border: 0;
    height: 1px;
    background: var(--text-color);
    margin: 1rem 0 2rem 0;
}

/* GALLERY */
.image-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.img-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gallery-image {
    width: 250px; /* default, dynamically updated */
    height: auto;
    transition: width 0.3s;
}

.img-caption {
    color: var(--text-color);
    margin-top: 0.5rem;
    text-align: center;
    font-size: 0.9rem;
}

/* Hide captions for very small images */
.gallery-image.small + .img-caption {
    display: none;
}
